@()
<style>
#menu > .k-last {
	float: right;
	border-left-width: 1px;
	botder-right-width: 0;
}
</style>
<header>
	<div id="AMRConfiguration" class="container">
		<ul id="menu">
			<li><a href="/">Home</a></li>
			<li><a href="#about">About</a></li>
			<li><a href="/trouble">Trouble</a></li>
			<li><a href="#contact">Contact</a></li>
			<li><a href="/amr">AMR</a>
				<ul>
					<li><a href="/amr/narrative">Narrative</a></li>
					<li><a href="/amr">Edit</a></li>
				</ul></li>
			<li><input class="themeChooser" value="default" /></li>
			<li><a href="logout">logout</a></li>
		</ul>
	</div>
</header>

<script>
	$(document).ready(function() {
		$("#menu").kendoMenu();
	});
</script>
