@_main("Home Page") @_nav() @_amrHelp()

<style>
.hilite {
	font-weight: bold;
}

.configuration {
	cursor: pointer;
	font-size: 150%;
}

.more {
	display: none;
}

#show {
	cursor: pointer;
}

#more-info {
	cursor: pointer;
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}
</style>

<body class="k-content container">
	<div class="col-md-12">
		<span class="glyphicon glyphicon-info-sign" id="more-info"></span>
		<ul class="configuration">
			<li>siena_amr.oa_version = <span class="hilite"
				id="siena_amr_oa_version">...</span>
			</li>
			<li>siena_amr.oa_response_url => <span class="hilite"
				id="siena_amr_oa_response_url">...</span>
			<li>siena.trouble.amr.unsolicited_event => <span class="hilite"
				id="siena_trouble_amr_unsolicited_event">...</span>
			</li>
			<li>siena.trouble.amr.outage_response => <span class="hilite"
				id="siena_trouble_amr_outage_response">...</span>
			</li>
			<li>siena.trouble.amr.manual_response => <span class="hilite"
				id="siena_trouble_amr_manual_response">...</span>
			</li>
			<li>siena_amr.validate_dups => removed/deprecated</li>
			<li>siena_amr.validate_event_date => removed/deprecated</li>
			<li>siena_amr.disable.tag_level => <span class="hilite"
				id="od_event_disable_tag_level">...</span>

			</li>
			<li>siena_amr.suspended_meters.load_from_cis => 0 = <span
				class="hilite" id="siena_amr_suspended_meters_load_from_cis">...</span>
			</li>
			<li>siena_amr.outage_event.enable => removed/deprecated</li>
			<li>siena_amr.restore_event.enable => removed/deprecated</li>
			<li>siena_amr.reping_on_outage_count => <span class="hilite"
				id="siena_amr_reping_on_outage_count">...</span>
			</li>
			<li>siena_amr.reping_delay => <span class="hilite"
				id="siena_amr_reping_delay">...</span>
			</li>
			<li>siena_amr.reping_window => <span class="hilite"
				id="siena_amr_reping_window">...</span>
			</li>
			<li>siena_amr.pmu.enable => <span class="hilite"
				id="siena_amr_pmu_enable">deprecated/removed</span>

			</li>
			<li>siena_amr.resolve_on_restore => <span class="hilite"
				id="siena_amr_resolve_on_restore">...</span>
			</li>
			<li>siena_amr.cis.meter.client => <span class="hilite"
				id="siena_amr_cis_meter_client">...</span>
			</li>
			<li>siena_amr.ping_action => <span class="hilite"
				id="siena_amr_ping_action">...</span>
			</li>
			<li>siena_amr.resolve_timeout => <span class="hilite"
				id="siena_amr_resolve_timeout">...</span>
			</li>
			<li>siena_amr.outage_timeout => <span class="hilite"
				id="siena_amr_outage_timeout">...</span>

			</li>
			<li>siena_amr.restore_ping_field => <span class="hilite"
				id="siena_amr_restore_ping_field">...</span>
			</li>
			<li>siena_amr.HTTP.Server => <span class="hilite"
				id="siena_amr_HTTP_Server">...</span>
			</li>
			<li>siena_amr.HTTP.Path => <span class="hilite"
				id="siena_amr_HTTP_Path">...</span>
			</li>
			<li>oa_od.client => <span class="hilite" id="oa_od_client">...</span>
			</li>
			<li>siena_web_services.loc_lookup => <span class="hilite"
				id="siena_web_services_loc_lookup">...</span>
			</li>
			<li>siena_web_services.event_count_threshold_account => <span
				class="hilite" id="siena_web_services_event_count_threshold_account">...</span>
			</li>
			<li>siena_amr.cause_code.ignore => <span class="hilite"
				id="siena_amr_cause_code_ignore">...</span></li>
			<li>siena_amr.MultispeakMsgHeader.Version => <span
				class="hilite" id="siena_amr_MultispeakMsgHeader_Version">...</span></li>
			<li>siena_amr.MultispeakMsgHeader.UserID => <span class="hilite"
				id="siena_amr_MultispeakMsgHeader_UserID">...</span></li>
			<li>siena_amr.MultispeakMsgHeader.Pwd => <span class="hilite"
				id="siena_amr_MultispeakMsgHeader_Pwd">...</span></li>
			<li>siena_amr.MultispeakMsgHeader.AppName => <span
				class="hilite" id="siena_amr_MultispeakMsgHeader_AppName">...</span></li>
			<li>siena_amr.MultispeakMsgHeader.AppVersion => <span
				class="hilite" id="siena_amr_MultispeakMsgHeader_AppVersion">...</span></li>
			<li>siena_amr.MultispeakMsgHeader.Company => <span
				class="hilite" id="siena_amr_MultispeakMsgHeader_Company">...</span></li>
			<li>siena_amr.MultispeakMsgHeader.CSUnits => <span
				class="hilite" id="siena_amr_MultispeakMsgHeader_CSUnits">...</span></li>
			<li>siena_amr.MultispeakMsgHeader.CoordinateSystem => <span
				class="hilite" id="siena_amr_MultispeakMsgHeader_CoordinateSystem">...</span></li>
			<li>siena_amr.MultispeakMsgHeader.Datum => <span class="hilite"
				id="siena_amr_MultispeakMsgHeader_Datum">...</span></li>
			<li>siena_amr.tools.wallet.auth => <span class="hilite"
				id="siena_amr_tools_wallet_auth">...</span></li>
			<li>siena_amr.tools.wallet => <span class="hilite"
				id="siena_amr_tools_wallet">...</span></li>
		</ul>
	</div>
</body>
<script>
	$(document)
			.ready(
					function() {
						$.ajax({
							type : 'GET',
							url : '@routes.Amr.getNarrativeData()',
							success : function(json) {
								for ( var key in json) {
									console.log(key + " -> " + json[key]);
									$("#" + key).text(json[key]).toString();
								}
							}
						});
						$("#more-info").click(function() {
							$(".more").toggle();
						})
						$(".configuration li").click(function() {
							$(this).find('.more').toggle();
						})

						var items = $(".configuration span")
								.each(
										function(index) {
											var help = $(this).attr('id')
													+ '_help';
											var text = $("#" + help).text();
											var parent = $(this).parent();
											parent
													.append('<div class="alert alert-info more" role="alert">'
															+ text + '</div>');
										});
					});
</script>


