@(form: Form[AmrConfig1], bld: Seq[models.AmrConfig.elements])
@_main("Home Page")
@_nav()
<body class="k-content col-md-3">
<div class="container">
	<div class="row">
	<div class="col-md-12">
		<h2>General Information on ODEvents</h2>
		The following rules are currently defined in siena_web_services.od_tools :<br>
		<ul>
			<li>call siena.web_services.trouble when company = 'nisc' and app_name = 'ivue'</li>
			<li>call siena_web_services.od_ventyx.createOutageEventAMR if g_client = 'VENTYX'</li>
			<li>call siena_amr.meterping.processEvent when g_client = 'METERPING'</li>
			<li><span style="color:red;">if NONE</span> of the above are true, an error will be generated in event_notifications</li>
		</ul>
		The following variables are currently set on this system:<br>
		<ul>
			<li>g_client (oa_od.client) = <span id="g_client"></span></li>
			<li>g_restore_event (oa_od.event.restore_event.enable) : <span id="g_restore_event"></span></li>
			<li>g_outage_event (oa_od.event.outage_event.enable) : <span id="g_outage_event"></span></li>
			<li><span style="color:red;">Both</span> g_restore_event and g_outage_event should ALMOST always be set to true, though some sites<br>
		MIGHT disable the restore event if they are only interested in seeing outages</li>
		</ul>		
	</div>
	</div>
</div>
</body>

<script>
 <!-- get some preloaded vars -->
$(document).ready(function() {
	$.ajax({
    	type : 'GET',
     	url : '/getPage1Vars',
     	dataType : "json",
     	success : function(data) {
			$("#g_client").text(data.client);			
			$("#g_restore_event").text("Restore events are " + data.restoreEvent + "being processed.");
			$("#g_outage_event").text("Outage events are " + data.outageEvent + "being processed.");
     	},
     	error : function(data) {
         	setError('Make call failed');
     	}
	});
});

</script>